$welcomePageGradient: linear-gradient(180deg, #D8D8FF 0%, #FFDAF9 100%);
$pink-Gradient: linear-gradient(180deg, #FFD8D8 0%, #FBCEFF 100%);
$purple-Gradient: linear-gradient(180deg, #D8D8FF 0%, #FFDAF9 100%);
$yellow-Gradient: linear-gradient(180deg, #FEFFDA 0%, #FFE7E7 100%);
$blue-Gradient:linear-gradient(180deg, #DEFFF5 0%, #DDDDFF 100%);
$violet-Gradient: linear-gradient(180deg, #FFE7EA 0%, #FBCEFF 100%);
$orange-Gradient: linear-gradient(180deg, #F1EDFF 0%, #FFE4E4 100%);





$white: #fff;
$yellow: #FFF4CD;
$dark-yellow:#FFE768;
$black: black;
$violet: #c9bbff;

$pink: #FFCCF7;
$tan: #FFE4E4;
$light-pink:#FFCECB;
$light-green: #D5FFDE;
$light-yellow:#FEFFE4;
$light-blue: #E4FFFD;
$dark-violet: #7485F5;
$dark-purple: #997CFF;
$navbar-blue: #12198F;
$blue: #7CD0FF;
$dark-green: #00bd72;
$olive-green:#E7FFE8;
$anotherViolet: #AEB9FF;
$sky-blue:#CAF0FF;


$mobileSignupPageGradient: linear-gradient(180deg, #FEFFC3 0%, #FFE4E4 100%);
$mobileSignupPagePurple: #7485F5;
//JOB CARD
$jobCardPink: #FF91C6;
$jobCardYellow: #FFF4CC;
$jobCardGreen: #D5FFDE;
$jobCardBlue: #12198F;
$savedCardGreen: #E7FFE7;
//PASS CARD
$passCardPink: #FFE7FE;
$passCardBlue: #CBE3FF;
$passCardPurple: #CBCBFF;
//PROFILE PAGE
$profileGradient: linear-gradient(180deg, #FFFFCD 0%, #FFE4E4 100%);

//TRENDING PAGE
$trendingGradient: linear-gradient(180deg, #EBE6FF 0%, #E4FFE7 100%);
$notificationPillGradient: linear-gradient(180deg, #E2FFFA 0%, #EFE2FF 96.35%);

//EXPANDED JOB DESCRIPTION PAGES
$topBlue: #CAF0FF;
$bottomGrey: #F1EDFF;
