
// TODO(a.matrosovas): Remove this file, use variables from _variables.scss
$welcomeHeaderFont: 'Krona One', sans-serif;
$welcomeDescriptionFont: 'Work Sans', sans-serif;
$signupHeaderFont: 'Krona One', sans-serif;
$signupDescriptionFont: 'Work Sans', sans-serif;
$KronaHeaders: 'Krona One', sans-serif;
$WorkSansDescriptions: 'Work Sans', sans-serif;



.title{

    font-family: $KronaHeaders;
}
